<!doctype html>
<html lang = "en"  xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset ="UTF-8"/>
<title> HOME PAGE</title>
</head>
<body>
<section>

<div class="container">

<div class="card mt-2">

<div class="card-body">

<div th:if="${session.message}" class="container mt-4">

<div th:classappend="${session.message.type}" class="alert text-center" role="alert">

<span th:text="${session.message.content}"></span>

<th:block th:text="${#session.removeAttribute('message')}"></th:block>


</div>
</div>

<div class="container text-center">

 <img src="" style="height:200px; width:200px;" class="my_profile_picture" th:src="@{'/img/contact.png'}" alt="profile photo" />
 
</div>

<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">Starting adding your contact
</h1>

<a th:href="@{/user/add_Contacts}" class="btn btn-primary btn-block text-uppercase">Add new contact</a>

<hr />

<h3 class="text-center my-3"> Donate us</h3>

<input type="text" placeholder="enter the amount" id="payment_field" class="form-control my-2">

<div class="container text-center mt-4">

<button onclick="paymentStarted()" class="btn btn-success btn-primary btn-block" >Checkout</button>

</div>
</div>
</div>
</div>


<script>

    
    
    $(document).ready(()=>{
     $(".item").removeClass("active")
     $("#home-link").addClass("active")
    });
    
</script>

</section>

</body>
</html>