<!doctype html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})" >
<head>
<meta charset ="UTF-8"/>
<title> Change password form</title>
</head>
<body>
<section>
    
    <div id="login">
    
    <div class="container">
   
    <div id="login-row" class="row justify-content-center align-items-center " >
    
    <div id="login-column" class="col-md-6">
    
    <div id="login-box" style="height:220px;" class="col-md-12">
    
    <h1 class="text-center mt-4">Enter new password here</h1>
    
    <form action="" th:action="@{/change-password}" method="post">
    
    <input type="password" class="form-control" name= "newpassword" placeholder="enter new password here">
    
    <div class="container text-center mt-3"   >
    
    <button id="submit" class="btn btn-primary btn-success" >Change password</button>
    
    </div>
    
    
    </form>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
   
    </div>
</section>

</body>
</html>
